#### **Import Statements**

In [22]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lower, col, sum, to_date,  month,lit,desc,to_timestamp
import calendar

#### **Initializations of DF**

In [23]:
spark = SparkSession.builder.appName("covid").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True)

#### **Read Data**

In [24]:
df = spark.read.csv("./data/covid.csv", header=True, inferSchema=True)
df

+----------+------------------+--------+---------+---------------------+-----+-------------------------+---------+----------+-------------+
|      Date|Name of State / UT|Latitude|Longitude|Total Confirmed cases|Death|Cured/Discharged/Migrated|New cases|New deaths|New recovered|
+----------+------------------+--------+---------+---------------------+-----+-------------------------+---------+----------+-------------+
|2020-01-30|            Kerala| 10.8505|  76.2711|                  1.0|    0|                      0.0|        0|         0|            0|
|2020-01-31|            Kerala| 10.8505|  76.2711|                  1.0|    0|                      0.0|        0|         0|            0|
|2020-02-01|            Kerala| 10.8505|  76.2711|                  2.0|    0|                      0.0|        1|         0|            0|
|2020-02-02|            Kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        1|         0|            0|
|2020-02-03|            Kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-04|            Kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-05|            Kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-06|            Kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-07|            Kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-08|            Kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-09|            Kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-10|            Kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-11|            Kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-12|            Kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-13|            Kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-14|            Kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-15|            Kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-16|            Kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-17|            Kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-18|            Kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
+----------+------------------+--------+---------+---------------------+-----+-------------------------+---------+----------+-------------+
only showing top 20 rows

#### **1.Convert all state names to lowercase**

In [25]:
df.withColumn("Name of State / UT", lower(col("Name of State / UT")))

+----------+------------------+--------+---------+---------------------+-----+-------------------------+---------+----------+-------------+
|      Date|Name of State / UT|Latitude|Longitude|Total Confirmed cases|Death|Cured/Discharged/Migrated|New cases|New deaths|New recovered|
+----------+------------------+--------+---------+---------------------+-----+-------------------------+---------+----------+-------------+
|2020-01-30|            kerala| 10.8505|  76.2711|                  1.0|    0|                      0.0|        0|         0|            0|
|2020-01-31|            kerala| 10.8505|  76.2711|                  1.0|    0|                      0.0|        0|         0|            0|
|2020-02-01|            kerala| 10.8505|  76.2711|                  2.0|    0|                      0.0|        1|         0|            0|
|2020-02-02|            kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        1|         0|            0|
|2020-02-03|            kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-04|            kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-05|            kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-06|            kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-07|            kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-08|            kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-09|            kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-10|            kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-11|            kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-12|            kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-13|            kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-14|            kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-15|            kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-16|            kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-17|            kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
|2020-02-18|            kerala| 10.8505|  76.2711|                  3.0|    0|                      0.0|        0|         0|            0|
+----------+------------------+--------+---------+---------------------+-----+-------------------------+---------+----------+-------------+
only showing top 20 rows

#### **2.The day had a great number of covid cases**

In [26]:
df.orderBy('Total Confirmed cases', ascending=False).select(
    'Date', 'Total Confirmed cases').limit(1)

+----------+---------------------+
|      Date|Total Confirmed cases|
+----------+---------------------+
|2020-08-06|             468265.0|
+----------+---------------------+

#### **3.The state has the second-largest number of covid cases**

In [27]:
df1 = df.groupBy('Name of State / UT').sum('Total Confirmed cases').orderBy(
    'sum(Total Confirmed cases)', ascending=False).collect()
print(f"{df1[0][0]} has the second highest number of cases with {df1[0][1]} cases")

Maharashtra has the second highest number of cases with 15192247.0 cases

#### **4.Which Union Territory has the least number of death**

In [28]:
result_df = df.groupBy('Name of State / UT').agg(sum(col('Death').cast(
    "integer")).alias('Total Deaths')).orderBy('Total Deaths').limit(1)
result_df.show()

+------------------+------------+
|Name of State / UT|Total Deaths|
+------------------+------------+
|           Mizoram|           0|
+------------------+------------+

#### **5.The state has the lowest Death to Total Confirmed cases ration**

In [29]:
df_with_ratio = df.withColumn("DeathToConfirmedRatio", col("Death") / col("Total Confirmed cases"))
min_ratio_row = df_with_ratio.orderBy("DeathToConfirmedRatio").first()
state_with_lowest_ratio = min_ratio_row["Name of State / UT"]
print(f"{state_with_lowest_ratio} has the lowest ratio of deaths to confirmed cases ")

Puducherry has the lowest ratio of deaths to confirmed cases

#### **6.Find which month the more Newer recovered cases**

In [30]:
month = df.withColumn("Month", lit(month(col("Date")))).groupBy("Month").agg(sum(col("New recovered")).alias("cases")).orderBy(desc("cases")).limit(1).collect()[0]["Month"]
calendar.month_name[month]

'July'